.loginContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subheading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.inputField {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #0056b3;
}

.forgotPasswordText {
  color: #007bff;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}

.signupText {
  font-size: 14px;
  margin-top: 20px;
}

.signupText a {
  color: #007bff;
  text-decoration: none;
}

.signupText a:hover {
  text-decoration: underline;
}
